In [1]:
import pandas as pd

df = pd.read_excel('~/Downloads/ZIP_ethnicity.xlsx')
df.head()

     ZIP  YEAR        ETHNICITY  POPULATION
0  91901  2010  American Indian         266
1  91901  2010            Asian         328
2  91901  2010            Black         184
3  91901  2010         Hispanic        2690
4  91901  2010            Other          10

In [2]:
df2018 = df[df['YEAR']==2018]
df2018 = df2018[df2018['POPULATION']>0]
df2018.head()

      ZIP  YEAR        ETHNICITY  POPULATION
64  91901  2018  American Indian         124
65  91901  2018            Asian         561
66  91901  2018            Black         303
67  91901  2018         Hispanic        2945
68  91901  2018            Other          49

In [3]:
final = df2018.groupby('ZIP')['POPULATION'].max()
final

ZIP
91901    13283
91902     8768
91905      999
91906     1870
91910    51744
         ...
92155      615
92173    25391
92182     1349
92536      322
92672     2330
Name: POPULATION, Length: 111, dtype: int64

In [4]:
ethnicities = []
for i in range(len(final)):
    temp = df2018[df2018['ZIP']==final.index[i]]
    temp2 = temp[temp['POPULATION']==final.iloc[i]]
    ethnicities.append(temp2['ETHNICITY'].iloc[0])
ethnicities

['White',
 'Hispanic',
 'White',
 'White',
 'Hispanic',
 'Hispanic',
 'Hispanic',
 'Hispanic',
 'Hispanic',
 'White',
 'White',
 'White',
 'Hispanic',
 'White',
 'White',
 'White',
 'White',
 'Hispanic',
 'White',
 'Hispanic',
 'White',
 'White',
 'Hispanic',
 'White',
 'Hispanic',
 'White',
 'White',
 'White',
 'White',
 'White',
 'White',
 'White',
 'White',
 'White',
 'White',
 'White',
 'White',
 'Hispanic',
 'White',
 'Hispanic',
 'White',
 'White',
 'White',
 'White',
 'White',
 'White',
 'White',
 'White',
 'White',
 'Hispanic',
 'White',
 'White',
 'White',
 'White',
 'White',
 'White',
 'White',
 'Hispanic',
 'White',
 'White',
 'White',
 'White',
 'White',
 'White',
 'Hispanic',
 'Hispanic',
 'White',
 'White',
 'White',
 'White',
 'White',
 'Hispanic',
 'White',
 'White',
 'Hispanic',
 'White',
 'White',
 'White',
 'White',
 'White',
 'White',
 'Hispanic',
 'Hispanic',
 'White',
 'White',
 'White',
 'White',
 'White',
 'White',
 'White',
 'White',
 'White',
 'White',
 'Asian',
 'White',
 'White',
 'White',
 'White',
 'White',
 'White',
 'White',
 'White',
 'Hispanic',
 'White',
 'White',
 'Hispanic',
 'White',
 'Hispanic',
 'White',
 'White',
 'White']

In [5]:
ethn = pd.DataFrame(data={'ZIP': df2018['ZIP'].unique(), 'Majority Ethnicity': ethnicities})
ethn

       ZIP Majority Ethnicity
0    91901              White
1    91902           Hispanic
2    91905              White
3    91906              White
4    91910           Hispanic
..     ...                ...
106  92155              White
107  92173           Hispanic
108  92182              White
109  92536              White
110  92672              White

[111 rows x 2 columns]

In [6]:
ethn

       ZIP Majority Ethnicity
0    91901              White
1    91902           Hispanic
2    91905              White
3    91906              White
4    91910           Hispanic
..     ...                ...
106  92155              White
107  92173           Hispanic
108  92182              White
109  92536              White
110  92672              White

[111 rows x 2 columns]

In [7]:
#ethn.to_excel("Majority Ethnicities By Zip Code.xlsx")

In [28]:
#American Indian Population Proportion
df2018.head()

      ZIP  YEAR        ETHNICITY  POPULATION
64  91901  2018  American Indian         124
65  91901  2018            Asian         561
66  91901  2018            Black         303
67  91901  2018         Hispanic        2945
68  91901  2018            Other          49

In [29]:
pop = df2018.groupby('ZIP')['POPULATION'].sum()
pop

ZIP
91901    17885
91902    17375
91905     2014
91906     3686
91910    82682
         ...
92155     1032
92173    27741
92182     2222
92536      491
92672     4529
Name: POPULATION, Length: 111, dtype: int64

In [30]:
df2018['ETHNICITY'].unique()

array(['American Indian', 'Asian', 'Black', 'Hispanic', 'Other',
       'Pacific Islander', 'Two or More', 'White'], dtype=object)

In [31]:
amin = df2018[df2018['ETHNICITY']=='American Indian']
amin

        ZIP  YEAR        ETHNICITY  POPULATION
64    91901  2018  American Indian         124
136   91902  2018  American Indian          54
208   91905  2018  American Indian          33
280   91906  2018  American Indian          52
352   91910  2018  American Indian         243
...     ...   ...              ...         ...
7696  92155  2018  American Indian          10
7840  92173  2018  American Indian          88
7912  92182  2018  American Indian           2
8056  92536  2018  American Indian          20
8128  92672  2018  American Indian          41

[110 rows x 4 columns]

In [34]:
def prop(df):
    props = []
    for i in range(len(df)):
        zipc = df.iloc[i]['ZIP']
        if zipc in pop.index:
            props.append(df.iloc[i]['POPULATION']/pop[zipc])
        else:
            continue
    df['PROPORTION'] = props
    return

In [35]:
prop(amin)
amin

C:\Users\HELoz\Anaconda\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

        ZIP  YEAR        ETHNICITY  POPULATION  PROPORTION
64    91901  2018  American Indian         124    0.006933
136   91902  2018  American Indian          54    0.003108
208   91905  2018  American Indian          33    0.016385
280   91906  2018  American Indian          52    0.014107
352   91910  2018  American Indian         243    0.002939
...     ...   ...              ...         ...         ...
7696  92155  2018  American Indian          10    0.009690
7840  92173  2018  American Indian          88    0.003172
7912  92182  2018  American Indian           2    0.000900
8056  92536  2018  American Indian          20    0.040733
8128  92672  2018  American Indian          41    0.009053

[110 rows x 5 columns]

In [39]:
amin = amin.drop(['YEAR', 'ETHNICITY', 'POPULATION'], axis=1)
amin

        ZIP  PROPORTION
64    91901    0.006933
136   91902    0.003108
208   91905    0.016385
280   91906    0.014107
352   91910    0.002939
...     ...         ...
7696  92155    0.009690
7840  92173    0.003172
7912  92182    0.000900
8056  92536    0.040733
8128  92672    0.009053

[110 rows x 2 columns]

In [40]:
amin.to_excel("American Indian Population Proportion by Zip Code.xlsx")