In [56]:
import pandas as pd

df = pd.read_excel('~/Downloads/ZIP_ethnicity.xlsx')
df.head()

     ZIP  YEAR        ETHNICITY  POPULATION
0  91901  2010  American Indian         266
1  91901  2010            Asian         328
2  91901  2010            Black         184
3  91901  2010         Hispanic        2690
4  91901  2010            Other          10

In [57]:
df2018 = df[df['YEAR']==2018]
df2018 = df2018[df2018['POPULATION']>0]
df2018.head()

      ZIP  YEAR        ETHNICITY  POPULATION
64  91901  2018  American Indian         124
65  91901  2018            Asian         561
66  91901  2018            Black         303
67  91901  2018         Hispanic        2945
68  91901  2018            Other          49

In [58]:
final = df2018.groupby('ZIP')['POPULATION'].max()
final

ZIP
91901    13283
91902     8768
91905      999
91906     1870
91910    51744
         ...
92155      615
92173    25391
92182     1349
92536      322
92672     2330
Name: POPULATION, Length: 111, dtype: int64

In [59]:
ethnicities = []
for i in range(len(final)):
    temp = df2018[df2018['ZIP']==final.index[i]]
    temp2 = temp[temp['POPULATION']==final.iloc[i]]
    ethnicities.append(temp2['ETHNICITY'].iloc[0])
ethnicities

['White',
 'Hispanic',
 'White',
 'White',
 'Hispanic',
 'Hispanic',
 'Hispanic',
 'Hispanic',
 'Hispanic',
 'White',
 'White',
 'White',
 'Hispanic',
 'White',
 'White',
 'White',
 'White',
 'Hispanic',
 'White',
 'Hispanic',
 'White',
 'White',
 'Hispanic',
 'White',
 'Hispanic',
 'White',
 'White',
 'White',
 'White',
 'White',
 'White',
 'White',
 'White',
 'White',
 'White',
 'White',
 'White',
 'Hispanic',
 'White',
 'Hispanic',
 'White',
 'White',
 'White',
 'White',
 'White',
 'White',
 'White',
 'White',
 'White',
 'Hispanic',
 'White',
 'White',
 'White',
 'White',
 'White',
 'White',
 'White',
 'Hispanic',
 'White',
 'White',
 'White',
 'White',
 'White',
 'White',
 'Hispanic',
 'Hispanic',
 'White',
 'White',
 'White',
 'White',
 'White',
 'Hispanic',
 'White',
 'White',
 'Hispanic',
 'White',
 'White',
 'White',
 'White',
 'White',
 'White',
 'Hispanic',
 'Hispanic',
 'White',
 'White',
 'White',
 'White',
 'White',
 'White',
 'White',
 'White',
 'White',
 'White',
 'Asian',
 'White',
 'White',
 'White',
 'White',
 'White',
 'White',
 'White',
 'White',
 'Hispanic',
 'White',
 'White',
 'Hispanic',
 'White',
 'Hispanic',
 'White',
 'White',
 'White']

In [60]:
ethn = pd.DataFrame(data={'ZIP': df2018['ZIP'].unique(), 'Majority Ethnicity': ethnicities})
ethn

       ZIP Majority Ethnicity
0    91901              White
1    91902           Hispanic
2    91905              White
3    91906              White
4    91910           Hispanic
..     ...                ...
106  92155              White
107  92173           Hispanic
108  92182              White
109  92536              White
110  92672              White

[111 rows x 2 columns]

In [67]:
ethn

       ZIP Majority Ethnicity
0    91901              White
1    91902           Hispanic
2    91905              White
3    91906              White
4    91910           Hispanic
..     ...                ...
106  92155              White
107  92173           Hispanic
108  92182              White
109  92536              White
110  92672              White

[111 rows x 2 columns]

In [68]:
ethn.to_excel("Majority Ethnicities By Zip Code.xlsx")