In [1]:
import pandas as pd
df = pd.read_excel('~\Documents\GitHub\group05_sp20\Jan-Apr 2019 and 2020 by worksheet.xlsx')
df.head()

,PROGRAM,AGENCY #,STREET ADDRESS,CITY,STATE,ZIP CODE,FRESH PRODUCE BY LBS,TOTAL LBS
0,Food 4 Kids Backpack,BP-1588-04,700 North Avenue,Vista,CA,92083.0,0,858.267
1,Food 4 Kids Backpack,BP-1588-05,220 W. Bobier Drive,Vista,CA,92083.0,0,1095.660
2,Food 4 Kids Backpack,BP-1588-06,321 Hoitt Street,San Diego,CA,92102.0,0,532.650
3,Food 4 Kids Backpack,BP-1588-07,4877 Orange Ave,San Diego,CA,92105.0,0,319.590
4,Food 4 Kids Backpack,BP-1588-10,4741 Santa Monica Ave,San Diego,CA,92107.0,0,476.847

In [2]:
len(df)

452

In [3]:
zipcodes = df['ZIP CODE'].sort_values().unique()
zipcodes = zipcodes[:-2]

In [4]:
df2 = pd.read_csv('~/Downloads/zip_code_database.csv')
df2.head()

,zip,type,decommissioned,primary_city,acceptable_cities,unacceptable_cities,state,county,timezone,area_codes,world_region,country,latitude,longitude,irs_estimated_population_2015
0,501,UNIQUE,0,Holtsville,NaN,I R S Service Center,NY,Suffolk County,America/New_York,631,NaN,US,40.81,-73.04,562
1,544,UNIQUE,0,Holtsville,NaN,Irs Service Center,NY,Suffolk County,America/New_York,631,NaN,US,40.81,-73.04,0
2,601,STANDARD,0,Adjuntas,NaN,"Colinas Del Gigante, Jard De Adjuntas, Urb San...",PR,Adjuntas Municipio,America/Puerto_Rico,"787,939",NaN,US,18.16,-66.72,0
3,602,STANDARD,0,Aguada,NaN,"Alts De Aguada, Bo Guaniquilla, Comunidad Las ...",PR,Aguada Municipio,America/Puerto_Rico,"787,939",NaN,US,18.38,-67.18,0
4,603,STANDARD,0,Aguadilla,Ramey,"Bda Caban, Bda Esteves, Bo Borinquen, Bo Ceiba...",PR,Aguadilla Municipio,America/Puerto_Rico,787,NaN,US,18.43,-67.15,0

In [5]:
zipcodes_list = []
pop_estimates_2015 = []
for i in range(0, len(zipcodes)):
    zipcodes_list.append(zipcodes[i])
    pop_estimates_2015.append(df2[df2['zip']==zipcodes[i]]['irs_estimated_population_2015'].iloc[0])
pop_estimates_2015

[1360,
 3220,
 78600,
 90470,
 3828,
 49000,
 25290,
 530,
 8640,
 29950,
 34520,
 1097,
 25200,
 57800,
 1470,
 57620,
 9360,
 2620,
 24900,
 14870,
 22250,
 40490,
 52950,
 62520,
 47000,
 46520,
 47500,
 54100,
 44410,
 17310,
 2990,
 32210,
 39540,
 34390,
 50920,
 55690,
 40410,
 1930,
 3190,
 46330,
 34740,
 46590,
 51030,
 42740,
 25690,
 18910,
 36600,
 45770,
 1020,
 95,
 0,
 27520,
 39850,
 27200,
 38800,
 64730,
 17410,
 23880,
 18150,
 21740,
 41630,
 50860,
 65290,
 47350,
 28010,
 47110,
 15680,
 21890,
 25550,
 4340,
 26800,
 28940,
 70370,
 45860,
 51530,
 51820,
 35870,
 36100,
 93700,
 55720,
 0,
 64350,
 46030]

In [6]:
zipcodes_list = [int(i) for i in zipcodes_list]
zipcodes_list

[91905,
 91906,
 91910,
 91911,
 91912,
 91913,
 91932,
 91934,
 91935,
 91941,
 91942,
 91944,
 91945,
 91950,
 91963,
 91977,
 91978,
 92004,
 92008,
 92010,
 92011,
 92019,
 92020,
 92021,
 92024,
 92025,
 92026,
 92027,
 92028,
 92029,
 92036,
 92037,
 92040,
 92054,
 92056,
 92057,
 92058,
 92059,
 92061,
 92064,
 92065,
 92069,
 92071,
 92078,
 92081,
 92082,
 92083,
 92084,
 92086,
 92093,
 92096,
 92101,
 92102,
 92103,
 92104,
 92105,
 92106,
 92107,
 92108,
 92110,
 92111,
 92113,
 92114,
 92115,
 92116,
 92117,
 92118,
 92119,
 92120,
 92121,
 92123,
 92124,
 92126,
 92128,
 92129,
 92130,
 92131,
 92139,
 92154,
 92173,
 92182,
 92231,
 92243]

In [7]:
population = pd.DataFrame()
population['Zip Code'] = zipcodes_list
population['Population Estimate (2015)'] = pop_estimates_2015
population

    Zip Code  Population Estimate (2015)
0      91905                        1360
1      91906                        3220
2      91910                       78600
3      91911                       90470
4      91912                        3828
5      91913                       49000
6      91932                       25290
7      91934                         530
8      91935                        8640
9      91941                       29950
10     91942                       34520
11     91944                        1097
12     91945                       25200
13     91950                       57800
14     91963                        1470
15     91977                       57620
16     91978                        9360
17     92004                        2620
18     92008                       24900
19     92010                       14870
20     92011                       22250
21     92019                       40490
22     92020                       52950
23     92021                       62520
24     92024                       47000
25     92025                       46520
26     92026                       47500
27     92027                       54100
28     92028                       44410
29     92029                       17310
..       ...                         ...
53     92103                       27200
54     92104                       38800
55     92105                       64730
56     92106                       17410
57     92107                       23880
58     92108                       18150
59     92110                       21740
60     92111                       41630
61     92113                       50860
62     92114                       65290
63     92115                       47350
64     92116                       28010
65     92117                       47110
66     92118                       15680
67     92119                       21890
68     92120                       25550
69     92121                        4340
70     92123                       26800
71     92124                       28940
72     92126                       70370
73     92128                       45860
74     92129                       51530
75     92130                       51820
76     92131                       35870
77     92139                       36100
78     92154                       93700
79     92173                       55720
80     92182                           0
81     92231                       64350
82     92243                       46030

[83 rows x 2 columns]